td {
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    margin: 6px;
    border: solid 1px rgb(189, 189, 189);
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(113, 113, 113, 0.739);
}

td div {
    border-radius: 2px;
    line-height: 4rem;
    font-size: 1.5rem;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;

}

table {
    border-radius: 5px;
}